<h3>Interviewees</h3>

<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Skills</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col"></th>
     
    </tr>
  </thead>

  <tbody>
    <!-- <tr>
      <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
    </tr> -->
    <tr>
    <tr *ngFor="let interviewee of (interviewees$|async)"> 
      <th scope="row">{{interviewee.name}}</th>

      <td>{{interviewee.phone}}</td>
      <td>{{interviewee.skills}}</td>
      <td>{{interviewee.status}}</td>
      <!-- <th> -->
      <td><button type="button" class="btn btn-primary" (click)=editInterviewee(interviewee)>Edit</button></td>
        <!-- <div class="m-2"></div> -->
      <td><button type="button" class="btn btn-danger" (click)=deleteInterviewee(interviewee)>Delete</button></td>
      
  </tr>
  </tbody>
</table>